<!DOCTYPE html>
<html>
  <head>
    <title>Edit Workout</title>
  </head>
  <body>
    <h1>Your Team Running Log</h1>
    <p><i>Edit your workout information below.</i></p>
    <form action="/workouts/<%= @workout.id %>" method="post">
        <input id="hidden" type="hidden" name="_method" value="patch">
        <br>Enter date of workout: <input type="date" name="workout_date" max="<%= Time.now.strftime("%F") %>" value="<%= @workout.workout_date %>" required></input><br>
        <br>Enter distance: <input type="number" name="distance" style="width: 55px;" min="0" step="0.01" value="<%= @workout.distance.to_s%>" required></input> miles<br>
        <br>Enter notes (e.g. location, how you felt): <p><textarea type="text" name="notes" maxlength = "500" rows="5" cols="100"><%= @workout.notes %></textarea><br>
        <br><input type="submit" value='Submit'>
        <br><br>
        <input type="submit" value='Submit Changes'>
    </form>
  </body>
</html>
