<!DOCTYPE html>
<html>
  <head>
    <title>Your Team Leaderboard</title>
  </head>
  <body>
    <h1>Your Team Running Log</h1><p>Hello, <a href="/workouts/log/<%= current_user.id %>"><%= current_user.name %></a>! (<a href='/logout'>logout</a>)</p>

    <h2>Top Runners by Mileage | Male | This Month</h2>

    <ol><% @rankings_male_month.each do |runner_id,total_mileage| %>
        <li><a href='/workouts/log/<%= runner_id %>'><%= Runner.find_by_id(runner_id).name %></a> - <%= total_mileage %> miles</li>
    <% end %></ol>




  </body>
</html>
