<!DOCTYPE html>
<html>
  <head>
    <title>Your Team Leaderboard</title>
  </head>
  <body>
    <h1>Top Runners by Mileage | Male | All-Time</h1>
      <ol><% @rankings_male.each do |runner_id,total_mileage| %>
          <li><a href='/workouts/log/<%= runner_id %>'><%= Runner.find_by_id(runner_id).name %></a> - <%= total_mileage %> miles</li>
      <% end %></ol>

      <h1>Top Runners by Mileage | Female | All-Time</h1>
        <ol><% @rankings_female.each do |runner_id,total_mileage| %>
            <li><a href='/workouts/log/<%= runner_id %>'><%= Runner.find_by_id(runner_id).name %></a> - <%= total_mileage %> miles</li>
        <% end %></ol>
  </body>
</html>
