<!DOCTYPE html>
<html>
  <head>
    <title>LogMyRun | Team Leaderboard</title>
  </head>
  <body>
    <h1>LogMyRun</h1>
    <p>Hello, <a href="/workouts/log/<%= current_user.id %>"><%= current_user.name %></a>! (<a href='/logout'>logout</a>)</p>
    <p><i>Last updated <%= @current_time %></i></p>
    <% @time_periods.each do |time_period| %>
      <% @genders.each do |gender| %>
        <h2>Top Runners by Mileage | <%= gender.capitalize %> | <%= time_period %></h2>
        <ol><% rankings(gender,time_period).each do |runner_id, total_mileage| %>
            <li><a href='/workouts/log/<%= runner_id %>'><%= Runner.find_by_id(runner_id).name %></a> - <%= total_mileage %> miles</li>
        <% end %></ol>
      <% end %>
    <% end %>

  </body>
</html>
