<!DOCTYPE html>
<html>
  <head>
    <title>Your Team Running Log</title>
  </head>
  <body>
    <h1>Your Team Running Log</h1>
    <p><b><%= Runner.find(@workout.runner_id).name %></b> • <%= @workout.created_at.strftime("%b %d, %Y") %></p>
    <h2><%= @workout.distance %> <%=@workout.workout_date.strftime("%a, %b %d, %Y") %></h2>
    <p><i>Last updated on <%= @workout.updated_at.strftime("%c %Z") %></i></p>
    <br>
    <button type="button"><a href='/workouts' style="text-decoration:none">Go back</a></button>
    <button type="button"><a href="/workouts/<%= @workout.id %>/edit" style="text-decoration:none">Edit Workout</a></button>
    <br>
    <br>

    <form action="/workouts/<%= @workout.id %>/delete" method="post">
      <input id="hidden" type="hidden" name="_method" value="delete">
      <input type="hidden" name="content">
    <input type="submit" value="Delete Workout">

    </form>
  </body>
</html>
