<!DOCTYPE html>
<html>
  <head>
    <title>LogMyRun | Workout Log</title>
  </head>
  <body>
    <h1>LogMyRun</h1>
    <p>Hello, <a href='/workouts/runner/<%= current_user.id %>'><%= current_user.name %></a>! (<a href='/logout'>logout</a>)</p>
    <button type='button'><a href='/workouts/new' style='text-decoration:none'>Log New Workout</a></button>
    <button type="button"><a href='/leaderboard' style="text-decoration:none">Team Leaderboard</a></button>
    <h2><%= @runner.name %>'s Workouts</h2></button>
    <ul style="list-style-type:none"><% @workouts.each do |workout| %>
      <li><p style="font-size:100%;"><%= workout.workout_date.strftime("%a, %b %d, %Y") %> --><b> <%= @runner.name %></b> ran <a href="/workouts/<%= workout.id %>"><%= workout.distance %></a> miles.</p></li>
      <li><p style="font-size:80%;"><i>Updated at: <%= workout.updated_at.strftime("%c %Z") %></i></p></li>
      <% end %></ul>
  </body>
</html>
